<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns="http://www.springframework.org/schema/beans"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="helloService" class="org.springframework.remoting.jaxws.JaxWsPortProxyFactoryBean">
		<property name="serviceInterface" value="fi.codecenter.examples.HelloService" />
		<property name="wsdlDocumentUrl" value="http://localhost:8080/jax-ws-demo-war/ws/HelloService?wsdl" />
		<property name="serviceName" value="HelloService" />
		<property name="portName" value="HelloServiceSoap" />
	</bean>
</beans>