<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	    xmlns="http://www.springframework.org/schema/beans"
	    xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	    					http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">
	
	<import resource="classpath:META-INF/cxf/cxf.xml"/>

    <bean id="helloService" class="fi.codecenter.examples.HelloServiceImpl" />

	<jaxrs:server id="helloServiceEndpoint" address="/helloApp">
		<jaxrs:serviceBeans>
      		<ref bean="helloService" />
    	</jaxrs:serviceBeans>	
    </jaxrs:server>
</beans>